<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Page Monitor</h1>
    <hr style="border-color:#e0dddd;">
    <p>Page monitor is a web app that will monitor websites for changes. With Page monitor, you can add a link to monitor and forget about the link until you receive an email from us. You will receive an email notification when the app detects any change in the content of the web page.</p>
    <p>Use Page Monitor for:</p>
	<ul style="font-size:21px;">
	<li>Find new jobs, news, tickets to festivals and concerts, prices, and any other changing information on any website.</li>
	<li>Monitor your own website. Get email alert when your website changes or breaks before your customers(or your boss) know.</li>
	</ul>
    <hr style="border-color:#e0dddd;">
    <p><a class="btn btn-primary btn-lg" href="/users/register" role="button">Register Now</a></p>
  </div>
</div>
