<div class="row">
	<div class="col-md-12" style="margin-top:20px;">
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  
		</form>	
	</div>
</div>